Resources:
  EduFlowErrorLogMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName:
        Fn::Sub: "/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/log/web.stdout.log"
      FilterPattern: '{ $.level = "error" }'
      MetricTransformations:
        - MetricNamespace: EduFlow/API
          MetricName: ErrorLogCount
          MetricValue: "1"

  EduFlowErrorRateAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "EduFlow API emitted more than 10 error logs in 5 minutes."
      Namespace: EduFlow/API
      MetricName: ErrorLogCount
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 10
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
